body{
    text-align:center;
    }
    #firstp{
    text-align:center;
    font-size:80px;
    }
    #albun{
    border-style:solid;
    width:450px;
    padding:5px;
    border:1px'
    }